/* колір основного тексту #212121;  */
/* вторинний колір тексту #757575 */
/* білий #FFFFFF; */
/* колір-акцент #2196F3; */
/* основний колір фона #F5F5F5;  */
/* вторинний колір фона #F5F4FA; */
/* колір фона шапки #FFFFFF; */
/* колір фона футера #2F303A; */
/* колір фона героя #2F303A; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --buttom-hover-color: #188ce8;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* шапка */
.page-header {
  color: var(--title-text-color);
}

/* a {
    text-decoration: none */

.logo.header {
  color: var(--title-text-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent {
  color: var(--accent-color);
}

.logo.header {
  text-decoration: none;
}

.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}
.auth-nav li:hover {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.benefits-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  line-height: 1.71;
}

.button {
  font-family: inherit;
}

.button.primary {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border: none;
  margin-left: auto;
  margin-right: auto;

  color: var(--white);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--buttom-hover-color);
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

footer {
  background-color: var(--footer-background-color);
}

footer a {
  text-decoration: none;
}

.logo.footer {
  color: var(--white);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address-legal {
  color: var(--white);
  line-height: 1.71;
  font-style: normal;
}

.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
}

.logo.footer:hover:hover,
.logo.footer:focus {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.address a:hover,
.address a:focus {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.team {
  background-color: var(--secondary-background-color);
}

.team li {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.button.secondary {
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.button.secondary.active {
  padding: 6px 25px;

  color: var(--white);
  background-color: var(--accent-color);
}

.examples-title,
.team-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team h3 {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
}

.works h2 {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works p {
  font-size: 16px;
  line-height: 1.88;
}
